<div class="row left-right-margin-0">
    <div class="col-xs-12">
        <!--{{channelsData | json}}-->
        <div class="row left-right-margin-0 time-line-wrapper">
            <div class="col-xs-3 left-right-padding-0">
                <div class="row left-right-margin-0">
                    <!--Channels-->
                </div>
            </div>
            <div class="col-xs-9 left-right-padding-0">
                <div class="row left-right-margin-0">
                    <div class="time-line-container" *ngFor="let time of timeArray">
                        <!--{{8.33 * (program.duration_hours/0.5)*(12/5)}} class="col-{{20*(program.duration_hours/0.5)}}"-->
                        <div class="time-line-time padding-left-right-10px float-left" [style.width]="20+'%'">
                            {{time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row left-right-margin-0 height-100px" *ngFor="let channel of channelsData">
            <div class="col-xs-3 left-right-padding-0 top-bottom-border border-color-black">
                <div class="row left-right-margin-0">
                    {{channel.name}}
                </div>
            </div>
            <div class="col-xs-9 left-right-padding-0 top-bottom-border border-color-darkgrey">
                <div class="row left-right-margin-0">
                    <div class="program-container" *ngFor="let program of channel.programs_list; let progIndex = 'index'">
                        <!--{{8.33 * (program.duration_hours/0.5)*(10/5)}} class="col-{{20*(program.duration_hours/0.5)}}"-->
                        <div class="float-left program padding-left-right-10px clipped-title" [class.color-white]="progIndex === 0" [style.width]="(20*(program.duration_hours/0.5))+'%'" id="{{'program-'+channel.channel_id+'-'+program.program_id}}">
                            {{program.program_name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
