.overflow-x-scroll {
    overflow-x: scroll;
}

.float-left {
    float: left;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.program {
    position: absolute;
}

.clipped-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-name-container, .time-value-container, .program-data-container {
    padding-left: 10px;
    padding-right: 10px;
}

.time-line-wrapper {
    line-height: 30px;
    background: #242424;
    color: darkgrey;
    box-shadow: 0 2px 4px 0 #242424;
    position: relative;
}

.time-line-time {
    position: absolute;
}

.top-bottom-border {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.border-color-black {
    border-color: black;
}

.border-color-darkgrey {
    border-color: darkgrey;
}

.border-right-left-darkgrey {
    border-right: 0.5px solid darkgrey;
    border-left: 0.5px solid darkgrey;
}

.color-white {
    color: white !important;
}

.bottom-border {
    border-bottom: 1px solid;
}

.channel-column {
    position: absolute;
}

.grid-guide {
    background: #1A1A1A;
    color: darkgrey;
    line-height: 80px;
}

.channel:first-child {
    margin-top: 30px;
}

.program-data {
    line-height: 40px !important;
}

.program-name {
    line-height: 40px !important;
}

.utility-image {
    vertical-align: top;
}

.align-center {
    text-align: center;
}

.relative-postion {
    position: relative;
}

.channels-program:first-child .relative-postion {
    margin-top: 30px;
    border-top: 1px solid darkgrey;
}

.program-wrapper {
    height: 81px;
}
