.overflow-x-scroll {
    overflow-x: scroll;
}

.float-left {
    float: left;
}

.program-container:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clipped-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-height-80px {
    line-height: 80px;
}

.padding-left-right-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.time-line-wrapper {
    line-height: 30px;
    background: #242424;
    color: darkgrey;
    box-shadow: 0 2px 4px 0 #242424;
}

.top-bottom-border {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.border-color-black {
    border-color: black;
}

.border-color-darkgrey {
    border-color: darkgrey;
}

.border-right-left-darkgrey {
    border-right: 0.5px solid darkgrey;
    border-left: 0.5px solid darkgrey;
}

.color-white {
    color: white !important;
}

.margin-top-30px {
    margin-top: 30px;
}

.bottom-border {
    border-bottom: 1px solid;
}

.width-7200px {
    width: 7200px;
}

.channel-column {
    position: absolute;
}

.grid-guide {
    background: #1A1A1A;
    color: darkgrey;
}

.channel:first-child {
    margin-top: 30px;
}

.line-height-30px {
    line-height: 40px !important;
}

.line-height-50px {
    line-height: 40px !important;
}

.utility-image {
    vertical-align: top;
}

.align-center {
    text-align: center;
}
