<div class="row left-right-margin-0 grid-guide">
    <div class="col-xs-2 left-right-padding-0 line-height-80px">
        <div class="channel top-bottom-border border-color-black" *ngFor="let channel of gridGuideData; let channelIndex = 'index'">
            <div class="row left-right-margin-0 align-center padding-left-right-10px" (click)="toggleLiked(channelIndex)">
                <div class="col-xs-2 left-right-padding-0">
                    <span class="" *ngIf="channel.is_liked"><img class="" src="../assets/images/liked.png" alt=""></span>
                    <span class="" *ngIf="!channel.is_liked"><img class="" src="../assets/images/unliked.png" alt=""></span>
                </div>
                <div class="col-xs-10 left-right-padding-0">
                    <span class=""><img class="" [src]="channel.image_url" alt=""></span>
                </div>
            </div>
        </div>
    </div>
    <div id="programs-schedule" class="col-xs-10 line-height-80px left-right-padding-0 overflow-x-scroll">
        <div class="row channels-program left-right-margin-0 top-bottom-border border-color-darkgrey" *ngFor="let channel of gridGuideData; let channelIndex = 'index'"
            [style.width]="programsDisplayWidth+'px'"
        >
            <div class="row time-line-wrapper left-right-margin-0 bottom-border border-color-darkgrey" *ngIf="channelIndex === 0">
                <div class="time-line-array" *ngFor="let time of timeArray">
                    <div class="time-line-time border-right-left-darkgrey padding-left-right-10px float-left" [style.width]="'150px'">
                    <!--<div class="time-line-time border-right-left-darkgrey padding-left-right-10px float-left"
                        [style.width]="'150px'"
                        [style.left]="5*(time.split(':')[0]*60 + time.split(':')[1].split(' ')[0]*1) + 'px'"
                    >-->
                        {{time}}
                    </div>
                </div>
            </div>
            <div class="row relative-postion height-80px left-right-margin-0">
                <div class="program-container" *ngFor="let program of channel.programs_list; let progIndex = 'index'">
                    <div class="program border-right-left-darkgrey padding-left-right-10px" [class.color-white]="progIndex === 0"
                        [style.width]="(5*(program.duration_hours*60))+'px'"
                        [style.left]="(5*((differentialHour < 0 ? (program.start_time.split(':')[0]*60 + (differentialHour*-1)*60 - differentialMins)
                        : (program.start_time.split(':')[0]*60 - differentialHour*60 - differentialMins)) + (program.start_time.split(':')[1].split(' ')[0]*1)))+'px'"
                        id="{{'program-'+channel.channel_id+'-'+program.program_id}}"
                    >
                        <div class="row left-right-margin-0 line-height-50px clipped-title" title="{{program.program_name}} Timings:{{program.start_time}} to {{program.end_time}}">
                            {{program.program_name}}
                        </div>
                        <div class="row left-right-margin-0 line-height-30px">
                            <span *ngIf="program.is_empty">&nbsp;</span>
                            <span class="on-now-icon" *ngIf="program.on_now"><img class="utility-image" src="../assets/images/on-now-icon.png" alt=""></span>
                            <span class="record-icon" *ngIf="program.is_recordable"><img class="utility-image" src="../assets/images/record-icon.png" alt=""></span>
                            <span class="new-icon" *ngIf="program.is_new_content && (progIndex > 0)"><img class="utility-image" src="../assets/images/new-icon.png" alt=""></span>
                            <span class="new-icon-whitebg" *ngIf="program.is_new_content && (progIndex === 0)"><img class="utility-image" src="../assets/images/new-whitebg.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
